.loadout {
  display: flex;
  flex-direction: column;
}

.loadout__section-title {
  font-family: 'General Sans', sans-serif;
  font-size: 32px;
  color: #f5f5f5;
  margin-bottom: 24px;
}

.loadout__section-description {
  font-family: 'IBM Plex Mono', sans-serif;
  font-size: 24px;
  font-weight: 300;
  color: #444444;
  line-height: 32px;
}

.loadout__images {
  margin-top: 24px;
}

.loadout__image-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 32px;
}

.loadout__image-frame {
  background: #191919;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  cursor: pointer;
  filter: saturate(0);
  transition: all .1s ease-in-out;
}

.loadout__image-frame:hover {
  /* filter: brightness(140%); */
  filter: saturate(1);
}

.loadout-image {
  margin: 48px;
}